<div class="card">
    <div class="card-title"> otres</div>
    <div class="card-header">otres dos</div>
    <button class="btn btn-success">botoncito</button>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            HOLA
        </div>
        <div class="col-md-6">
            MUNDO
        </div>
    </div> <div class="row">
        <div class="col-md-6">
            HOLA
        </div>
        <div class="col-md-6">
            MUNDO
        </div>
    </div>
    
</div>HOLA Mundo

<app-saludador></app-saludador>
<app-otres></app-otres>